@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
  --background: #100525;
}

body {
  color: var(--foreground);
  background: var(--background);

  height: 100vh;
  /* 100% viewport height */
  display: flex;
  justify-content: center;
  /* Center the child div horizontally */
  align-items: center;
  /* Center the child div vertically */
}

body>div {
  display: flex;
  flex-direction: column;

  flex: 0 1 auto;
  /* Let the div grow or shrink within its max-width */
  max-width: 1500px;
  /* Set the maximum width */
  width: 100%;
  /* Take up available width within the max-width */
  height: 100%;
  /* Take up 100% height of the body */

}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Customize the appearance of the scrollbar thumb and track */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}